.modal {
    background-color: white;
     padding: 20px 30px;
     border-radius: 12px;
     position: fixed;
     margin-left: -0.4%;
     width: 400px;
    
   }
   
   .close-button {
     margin-top: 1%;
     margin-left: 90%;
     border: none;
     /* background: #3498db; */
     color: rgb(255, 255, 255);
     font-size: 20px;
     /* font-weight: bold; */
     cursor: pointer;
  
   }
   
 
   
   .modal-title {
     color: #f3f4f6;
     text-align: center;
     font-size: 1.8rem;
     margin-bottom: 20px;
   }
   
   
   
   .input-container input,
   .select-container select,
   .meal-select {
     width: 100%;
     padding: 10px;
     margin-top: 10px;
     font-size: 1rem;
     color: #323334;
 
   }
 
   
   .calorie-info {
     color: #333333;
     font-size: 1rem;
     text-align: center;
     margin-top: 20px;
     font-weight: bold;
   }
   
   .add-meal-button {
     display: block;
     width: 100%;
     padding: 12px 20px;
 
     color: #f3f4f6;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-size: 1rem;
     font-weight: bold;
     text-transform: uppercase;
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     margin-top: 30px;
   }
   
   .add-meal-button:hover {
     transform: translateY(-2px);
     box-shadow: 0 5px 15px rgba(37, 99, 235, 0.5);
   }
   
   .add-meal-button:active {
     transform: translateY(1px);
     box-shadow: none;
   }
   