
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 20vw;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 10vh ;
    margin-bottom: 5vh;
      margin-left: 38vw;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 2;
  }
  
  .signup-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .signup-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signup-label {
    font-size: 16px;
    color: #333;
  }
  
  .signup-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .error-message {
    font-size: 12px;
    color: red;
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #ff784b;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .signup-button:hover {
    background-color: #ff784b;
  }
  
  .signup-footer {
    /* font-size: 14px; */
    color: #555;
    text-align: center;
  }
  
  .signup-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }