

.overview{
    width: 100%;
    height: auto;
    background-color:white;
    margin-bottom: 5%;
}
.overview-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-right: 9%; 
  
}
.overview-cards-h3{
    padding: 10px;
}
#header{
    text-align: center;
    margin-top: 7vh;
    margin-left: 25%;
  color: #a3a3a3;
}
.cards-decription{
    border: 1px solid;
    border-radius: 20px;
    border-color: rgb(228, 228, 228);
    padding:5%;
    row-gap: 5%;
    margin:3%;
}